body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background: #0073e6;
    color: white;
    text-align: center;
    padding: 20px;
    border-bottom: 1px solid #ccc;
}

h1 {
  font-size: 2.4rem;
}

h3 {
  font-size: 0.8rem;
}
section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
}

h2 {
    color: #0073e6;
}

a {
    color: #0073e6;
    text-decoration: none;
    transition: color 0.2s ease;
}

a:hover {
    color: #0056b3;
}

section:hover {
    background-color: #f0f0f0;
    transform: scale(1.01);
    transition: background-color 0.2s ease, transform 0.2s ease;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 10px;
}

.contact {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.contact a {
    color: #0073e6;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    margin: 20px auto;
}

.modal-content h2 {
    color: #0073e6;
}

.modal-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.modal-content li {
    margin-bottom: 10px;
    color: #0073e6;
    
}

.modal-content a {
    color: black;
    text-decoration: none;
}

#abrir-modal {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.2s ease;
}

#abrir-modal:hover {
    background-color: #0056b3;
}

#fechar-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#fechar-modal:hover {
    background-color: #0056b3;
}

